<span class="Room__stars">
  <%= image_tag "room/star.svg", alt: "スターアイコン" %>
  <%= image_tag "room/star.svg", alt: "スターアイコン" %>
  <%= image_tag "room/star.svg", alt: "スターアイコン" %>
  <%= image_tag "room/star.svg", alt: "スターアイコン" %>
  <%= image_tag "room/star.svg", alt: "スターアイコン" %>
</span>